.container {
  margin: 10px;
  padding: 50px;
  border-radius: 10px;
  height: 200px;
  width: 100px;
  background-image: linear-gradient(195deg, rgba(95, 216, 95, 0.5), rgba(92, 216, 90, 0.5));
  /*background-image: url("my-hero-academia.jpg");*/
  color: white;
  text-align: center;
   position:absolute;
   top:5;
   left:370;
   border: solid #5CD85A;
}
.container p {
   color: black;
}

#one{
  background-image: linear-gradient(195deg, cyan, green);
  color: black;
  border: solid green;
  position: absolute;
  right: 2px;
  top: 2px;
}
#two{
  background-image: linear-gradient(195deg, cyan, green);
  color: black;
  border: solid green;
  position: absolute;
  right: 60px;
  top: 2px;
}
#but{
  background-image: linear-gradient(195deg, green, cyan);
  color: black;
  border: solid green;
  position: absolute;
  right: 35px;
  top: 35px;
}
.contain {
  margin: 10px;
  padding: 50px;
  border-radius: 10px;
  height: 80px;
  width: 100px;
  background-image: linear-gradient(195deg, rgba(80, 200, 120, 0.5), rgba(8, 49, 58, 0.5));
  /*background-image: url("my-hero-academia.jpg");*/
  color: white;
  text-align: center;
   position:absolute;
   top:320;
   left:370;
   border: solid #5CD85A;
}

.contain p {
  background: -webkit-linear-gradient(100deg,blue,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
   /*background-image: linear-gradient(0deg, #FF00FF, indigo);*/
  background-image: url("./my-hero-academia.jpg");
  background-size: cover;
}

#smile {
   padding: 50px;
   border-radius: 100px;
   height: 30px;
   width: 20px;
   position: absolute;
   top: 100;
   left: 100;
  animation-name: example3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example3 {
  from {background: yellow; left: 150;}
  50% {background: red;}
  to {background: yellow; left: 50;}
}


.eye1 {
  border-radius: 80px;
  background-color: black;
  padding: 10px;
  position: absolute; 
  top: 35;
  left: 25;
}
.eye2 {
  border-radius: 80px;
  background-color: black;
  padding: 10px;
  position: absolute;
  top: 35;
  right: 25;
}
.nose {
  padding: 2px;
  position: absolute;
  top: 60;
  right: 57;
  border-radius:50px 50px 50px 50px / 100px 100px 50px 50px;
  width:7px;
  height:17px;
  background: black;
}
.mouth {
  position: absolute;
  background-color: white;
  width: 70px;
  height: 20px;
  border-radius: 7px 7px 110px 110px;
  bottom: 20px;
  left: 25px;
}

.teeth {
  background: black;
  padding: 1px;
  width: 68px;
  height: 1px;
  position: absolute;
  top: 7;
  border-radius: 10px, 10px, 110px, 110px;
}
.balls1 {
   background: white;
   position: absolute;
   height: 15px;
   width: 10px;
   border-radius: 100%;
   left: 4;
   bottom: 1;
}
.balls2 {
   background: white;
   position: absolute;
   height: 15px;
   width: 10px;
   border-radius: 100%;
   left: 4;
   bottom: 1;
}

.profile {
  background: green;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  top: 3;
  left: 3;
}

.tiles {
  background-color: rgba(255, 150, 1, 0.2);
  border-radius: 10px;
  padding: 10px;
  width: 160px;
  height: 90px;
  position: absolute;
  bottom: 50;
  right: 10;
}

#tile1 {
  background: linear-gradient(120deg, red, blue);
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  left: 8;
  top: 15;
  height: 60;
  width: 30;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#tile2 {
  background: linear-gradient(120deg, red, blue);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  right: 8;
  top: 15;
  height: 60;
  width: 30;
  animation-name: example1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {background: blue;}
  50% {background: green;}
  75% {opacity: 0.3;}
  to {background: blue;}
}


@keyframes example1 {
  from {background: red;}
  60% {background: blue;}
  75% {opacity: 0.3;}
  to {background: red;}
}

.rightsection {
  padding: 40px;
  background-image: linear-gradient(195deg, rgba(80, 200, 120, 0.5), rgba(8, 49, 58, 0.5));
  border-radius: 10px;
  border: solid #5CD85A;
  position: absolute;
  right: 80;
  top: 20;
  height: 70%;
  width: 150px;
}

#notifypane {
  padding: 10px;
  background-image: linear-gradient(195deg, rgba(80, 200, 120, 0.5), rgba(8, 49, 58, 0.5));
  border-radius: 20px;
  border: solid #5CD85A;
  position: absolute;
  left: 5;
  top: 5;
  height: 15px;;
  width: 60%;
  color: white;
  text-align: center;
}

#image {
   height: 30px;
   width: 30px;
   position: absolute;
   top: 15%;
   right: 5%;
}
#picture {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: url('monkey.jpg');
  background-size: cover;
  position: absolute;
  right: 10;
  top: 13;
} 
